* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #ece9e9;
    color: #333;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.section-padded {
    padding: 40px 0px;
}

.bg-light {
    background-color: #e9e9e9;
}

.text-center {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: #330b9f;
    margin-bottom: 5px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

.cabecalho {
    height: 550px;
    width: 100%;

    background-image: url('imagens/clube.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    color: rgba(248, 250, 249, 0.981);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    position: relative;

    display: flex;
    flex-direction: column;
}


.container {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px 10px;
    font-weight: 700;
}

.navbar ul li a:hover {
    color: #2c1391;
}

#logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 3;
}

.trilha {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.trilha p {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-block;
    background-color: #e51717;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #388E3C;
}

.grid-3 {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-2 {
    display: grid;
    grid-template-columns: 440px 440px;
    gap: 20px;
    align-items: start;
}

.unit-item ul {
    list-style: none;
    padding-left: 0;
}

.unit-item ul li {
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-left: 3px solid #004d40;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.unit-item h3+p:first-of-type {
    font-style: italic;
    border-left: 3px solid #4CAF50;
    padding: 10px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 3px;
    color: #555;
    font-size: 14px;
    line-height: 1.4;
}

.icon {
    margin-right: 10px;
    font-size: 18px;
    color: #004d40;
}

.contact-form {
    width: 400px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
}

.contact-form textarea {
    min-height: 80px;
    resize: none;
}

footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
}