body {
    margin: 0px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #000000;
    color: #f2f2f2;
    height: 100%;
    padding: 10px 50px 10px 50px;
}

#cabecalho img {

    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}

#cabecalho h1 {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#cabecalho p {
    cursor: pointer;
    text-decoration: underline overline;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;
}

.pesquisa input {
    height: 100%;
    width: 45%;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}

.card-grupo {
    margin: 50px 0px 50px 0px;
    justify-content: space-around;
    display: flex;
}

.card-pet {
    width: 300px;
    height: 420px;
    border-radius: 34px;
    background-size: cover;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet:hover {
    box-shadow: 17px 11px 45px -2px grey;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet p {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    color: #FFFFFF;
    padding-top: 300px;
}
.grupo-membros{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 442PX;
    width: 100%;
    background-color: #000000;

}
.card-membros{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 80%;
    width: 70%;
    background-color: #ffffff;
    border-radius: 80px;
}
.card-esquerdo{
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.botao-card{
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    height: 77px;
    width: 100%;
    border-radius: 70px;
    color: #ffffff;

}

.card-direito{
    height: 269px;
    width: 400px;
    background-image: url('./imagens/gato2.jpg');
    background-size: cover;
    border-radius: 30px;
}
.grupo-dicas{
    display: flex;
    justify-content: center;
    margin-top: 149px;


}
.card-caramelo{
    width: 50%;
    background-size: cover;
}
.card-caramelo img{
    height: 614px;
    width: 560px;
}
.card-dicas{
    width: 50%;

}
.card-dicas h1{
    color: #000000;
}
.card-dicas h2, p{
    color: #5c5c5c;
}