@font-face {
    font-family: "Kaushan";
    src: url('./fontes/KaushanScript-Regular.ttf');
}

body {
    margin: 0px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #000000;
    color: #f2f2f2;
    height: 100%;
    padding: 10px 50px 10px 50px;
}

#cabecalho img {

    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}

#cabecalho h1 {
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#logo {
    cursor: pointer;
    font-size: 40px;
    /* text-decoration: underline overline; */
    /* font-weight: bold; */
    font-family: 'Kaushan';
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;
}

.pesquisa input {
    height: 100%;
    width: 45%;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}

.card-grupo {
    margin: 50px 0px 50px 0px;
    justify-content: space-around;
    display: flex;
}

.card-pet {
    width: 300px;
    height: 420px;
    border-radius: 34px;
    background-size: cover;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet:hover {
    box-shadow: 17px 11px 45px -2px grey;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet p {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    color: #FFFFFF;
    padding-top: 300px;
}
.grupo-membros{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 442PX;
    width: 100%;
    background-color: #000000;

}
.card-membros{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 80%;
    width: 70%;
    background-color: #ffffff;
    border-radius: 80px;
}
.card-esquerdo{
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.botao-card{
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    height: 77px;
    width: 100%;
    border-radius: 70px;
    color: #f5f5f5;


}

.card-direito{
    height: 269px;
    width: 400px;
    background-image: url('./imagens/gato2.jpg');
    background-size: cover;
    border-radius: 30px;
}
.grupo-dicas{
    display: flex;
    margin: 148px 60px 0px 60px;

}
.card-caramelo{ 
    width: 50%;
    text-align: center;
}

.card-caramelo img{
    height: 614px;
    width: 520px;
    border-radius: 20px;
}

.card-dicas{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;

}

.card-dicas h1{
    font-size: 31px;
    color: #000000;
    margin-block-start: 0px;
}

.card-dicas h2,
.card-dicas p{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5c5c5c;
}
.rodape{
    background-color: #000000;
}
.rodape-titulo{

    margin: 100px 0px 100px 0px;
    text-align: center;
   
}
.rodape-titulo h1 {
    padding:  100px 0px 100px 0px;;
     color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.rodape-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;

}
.rodape-pesquisa input{
    height: 58px;
    width: 384px;
    border-radius: 10px;
    font-size: 24px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #c4c4c4;
    padding-left: 20px;

}
.botao-assinar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    background-color: #ebc134;
    border-radius: 10px;
    margin-left: 40px;
    cursor: pointer;

}
.botao-assinar p{
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;

}
.rodape-menu{
    margin-top: 50px;

}
.rodape-grupo-menu{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;

}

.grupo-itens ul{
    display: flex;
    margin-bottom: 0px;
}
.grupo-itens li{
    margin-left: 50px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    cursor: pointer;
}
.rodape-linha{
    margin-top: 0px;
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
}
.rodape-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    background-color: #ebc154;
    fill: #FFFFFF;
    margin: 25px;
    cursor: pointer;
}
.icon svg{
    display: flex;
    height: 50px;
    width: 50px;
}
.grupo-login{
    display: flex;
    height: 1020px;
    text-align: center;
}
.log-esquerdo{
    background-image: url('./imagens/dogLogin.jpg');
    width: 50%;
    background-size: cover;

}
.log-esquerdo h1{

    margin-top: 100px;
    text-align: center;
    font-family: 'Kaushan';
     
}
.botoes{
    margin: 200px 200px 50px 200px;
}
.log-direito{
    width: 50%;
}
.log-direito h1{
    color: #000000;
    text-justify: center;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.login-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    /* margin: 10px 100px 10px 100px; */
    border: 1px solid #000000;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 20px;
}
.login-user img{
    margin-right: 25px;
    height: 50px;


}

.botao-vamos{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 25px;
    /* width: 230px; */
    height: 40px;
    color: #f5f5f5;
    background-color: #0a0a0a;
    margin: 170px 300px 0px 300px;
    border-radius: 40px;
    /* margin-left: 40px; */
    cursor: pointer;
    text-decoration: none;
} 
.entrar{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}