
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

#campo {
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background-color: #5cb85c; 
    color: white;
}

#itens {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    border-radius: 10px;

}

#itens li {
    padding: 10px;
    margin-bottom: 10px;

    /* border-bottom: 1px solid #034b20;  */
    /* display: flex; 
    justify-content: space-between; 
    align-items: center;  */
    
}

#itens li button {
    background-color: #d9534f; 
    font-size: 12px;
    border-radius: 10px;
    margin-left: 50px;
}